<!-- ======= Contact Section ======= -->
<section id="contact" class="contact" style="background-color: #fafafa;">
	<div class="container">

		<div class="section-title" data-aos="zoom-out">
			<h2>Contact</h2>
			<p>Contact Us</p>
		</div>

		<div class="row mt-5">

			<div class="col-lg-4" data-aos="fade-right">
				<div class="info">
					<div class="address">
						<i class="bi bi-geo-alt"></i>
						<h4>Location:</h4>
						<a href="https://goo.gl/maps/QkgZAFjEqXJYPkgk8" target="_blank"><p>Jl. Gunung Soputan III, No 2, Denpasar, Bali Indonesia, 80119</p></a>
					</div>

					<div class="email">
						<i class="bi bi-envelope"></i>
						<h4>Email:</h4>
						<a href="mailto: admin@balitouryes.com" target="_blank"><p>admin@balitouryes.com</p></a>
					</div>

					<div class="phone">
						<i class="bi bi-phone"></i>
						<h4>Call:</h4>
						<a href="https://wa.me/6281805630004" target="_blank"><p>+62 818-0563-0004</p></a>
					</div>
				</div>
			</div>

			<div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">

				<form action="{{url('forms/contact.php')}}" method="post" enctype="multipart/form-data">
					<div class="row">
						<div class="col-md-6 form-group">
							<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
						</div>
						<div class="col-md-6 form-group mt-3 mt-md-0">
							<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
						</div>
					</div>
					<div class="form-group mt-3">
						<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
					</div>
					<div class="form-group mt-3">
						<textarea class="form-control" name="message_email" rows="5" placeholder="Message" required></textarea>
					</div>
					<!-- <div class="my-3">
						<div class="loading">Loading</div>
						<div class="error-message"></div>
						<div class="sent-message">Your message has been sent. Thank you!</div>
					</div> -->
					<div class="text-center mt-3"><button type="submit" class="more py-2 rounded-pill">Send Message</button></div>
				</form>

			</div>

		</div>

	</div>
	</section><!-- End Contact Section -->