<section id="facility" style="background-color: #2a2c39; color: #fff;">
	<div class="container-fluid">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<p class="fs-3 fw-bold">The Facilities You Get</p>
					<hr class="opacity-100 ms-auto mb-2 mb-lg-0">
					<ul>
						<li>Transportation according to the number of participants (private tour).</li>
						<li>Air Conditioning Transportation.</li>
						<li>Entrance tickets to tourist objects according to the itinerary.</li>
						<li>1 X lunch (one day).
						Ea 5D4N packages.</li>
						<li>Snack box + mineral water.</li>
						<li>Professional tour guide.</li>
						<li>Driver, fuel, parking.</li>
						<li>Wreath on arrival.</li>
						<li>Special airport handling for groups starting from 10 pax.</li>
						<li>1 Participant banner & bus banner (group).</li>
					</ul>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<p class="fs-3 fw-bold">Tour Terms and Conditions</p>
					<hr class="opacity-100 ms-auto mb-2 mb-lg-0">
					<ul>
						<li>Pick up by our representative adjusts arrival time & agreement on pick up at airport, station, terminal etc.</li>
						<li>The time we give is not binding.</li>
						<li>Transportation adjusts to the capacity of participants, and is a private tour, not combined with other participants.</li>
						<li>Prices apply to domestic tourists.</li>
						<li>Prices do not apply during Highseason (Christmas, New Year & Lebaran).</li>
						<li>Prices are subject to change at any time due to an increase in fuel prices, hotels (included), tourist entrance tickets and other matters related to tourism.</li>
						<li>The hotel used is 1 room filled with 2 people / 3 people / room, hotel rate * 2, *3 & *4. (for 2D1N, 3D2N, 4D3N, 5D4N, Honeymoon packages).</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>