<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <center><img class="mb-3" src="{{ 'assets/img/logo-4.png'|theme }}" style="max-width: 200px;"></center>
    <p>Follow me in social media</p>
    <div class="social-links">
      <a href="#"><i class="bx bxl-twitter"></i></a>
      <a href="#"><i class="bx bxl-facebook"></i></a>
      <a href="#"><i class="bx bxl-instagram"></i></a>
      <a href="#"><i class="bx bxl-youtube"></i></a>
    </div>
    <div class="copyright">
      &copy; Copyright <strong><span>2022</span></strong>. All Rights Reserved
    </div>
    <!-- <div class="credits">
      Designed by <a href="https://instagram.com/yogaekat_" target="_blank">YOGAEKA</a>
    </div> -->
  </div>
  </footer><!-- End Footer -->